body {
  margin: 0;
  overflow: hidden;
}

.recap {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: none;
}
.recap.recap-shown {
  display: block;
}

.recap-root {
  display: grid;
  height: 100%;
}
.recap-root > * {
  margin-top: auto;
  margin-bottom: auto;
}

.recap-overlay {
  height: 100%;
}

.recap-close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  cursor: pointer;
}

.recap-card-offer ul {
  display: flex;
  height: 20vh;
  justify-content: space-evenly;
  padding: 0;
}
.recap-card-offer li {
  height: 100%;
  list-style-type: none;
}
.recap-card-offer img {
  display: block;
  height: 100%;
}

.recap-card-offer-multiple li {
  padding: 0 6%;
}
.recap-card-offer-multiple li p {
  width: 20em;
  margin: 1em auto;
}
.recap-card-offer-multiple img {
  margin: auto;
}

.recap-picked-card img {
  display: block;
  margin: auto;
  width: 30vh;
}

.recap-link {
  position: absolute;
  top: 50%;
  line-height: 0;
}

.recap-link-left {
  left: 1rem;
}

.recap-link-right {
  right: 1rem;
}

.recap-game p {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  font-size: 3vh;
  width: 90%;
}
.recap-game a {
  margin: auto;
}

.recap-exegesis {
  font-style: italic;
}

.game-intro {
  font-size: 3vh;
}
.game-intro button {
  font-size: 120%;
  padding: 0.5em 1em;
}

button {
  background: inherit;
  border: 2px solid gray;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}
button:hover {
  box-shadow: 0 0 1px 1px gold;
}

.card-detail {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}
.card-detail-buttons {
  margin: auto 0;
}
.card-detail-exegesis {
  padding: 0 2vw;
  font-size: 2vh;
}
.card-detail img {
  margin: auto 0;
  max-height: 100%;
  max-width: 100%;
}

.debug-console {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
.debug-console-shown {
  display: block;
}

#guide-root {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: none;
  overflow: auto;
}

#guide-switch {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 0.8cm;
  height: 2cm;
  border: 2px solid gray;
  border-right: 0 none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 0px purple;
  cursor: pointer;
}
#guide-switch:hover {
  background-color: #FBF;
}
#guide-switch .guide-switch--turn-off {
  display: none;
}
#guide-switch .guide-switch--turn-on {
  display: block;
}

#guide-container.guide-on #guide-root {
  display: block;
}
#guide-container.guide-on #guide-switch .guide-switch--turn-off {
  display: block;
}
#guide-container.guide-on #guide-switch .guide-switch--turn-on {
  display: none;
}

#guide-container.guide-container--uninitialized {
  display: none;
}

.guide-page {
  display: grid;
  font-size: 4vh;
  justify-content: space-evenly;
  padding: min(10vh, 10vw);
}

.guide-page--avatar-choice {
  font-size: 2.5vh;
}
.guide-page--avatar-choice img {
  width: 15vh;
  height: 15vh;
  vertical-align: middle;
  margin: 2vh 4vh 2vh 0;
}
.guide-page--avatar-choice ul {
  text-align: left;
  list-style-type: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px 0px purple;
  }
  60% {
    box-shadow: 0 0 20px 0px purple;
  }
  80% {
    box-shadow: 0 0 25px 10px purple;
  }
  100% {
    box-shadow: 0 0 20px 0px purple;
  }
}
.guide-on #guide-root:has(.guide-page--avatar-choice) + #guide-switch {
  animation: pulse 7s infinite;
}

.cover-page {
  text-align: center;
  font-family: Arial;
  font-size: 7vw;
  background: transparent url("assets/cover1.jpg") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
}
.cover-page .cover-page__text {
  align-self: flex-end;
  padding-bottom: 5vh;
}
.cover-page h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 68%;
  margin: auto 0 0;
}
.cover-page h1 span {
  display: block;
  font-size: 38%;
}
.cover-page h2 {
  font-weight: normal;
  margin: 0;
}
.cover-page .author {
  font-size: 28%;
}
.cover-page .subtitle {
  color: #c6cbda;
  font-size: 42%;
}
.cover-page .status-line {
  color: white;
  font-size: 20%;
  height: 2vh;
  margin-top: 1vh;
}
.cover-page output {
  font-family: monospace;
}