body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

@mixin overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
}

@media (max-width: 20cm) {
  .wide-screen-only {
    display: none;
  }
}

.recap {
  @include overlay;

  display: none;

  &.recap-shown {
    display: block;
  }
}

.recap-root {
  display: grid;
  height: 100%;

  > * {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.recap-overlay {
  height: 100%;
  overflow: auto;
}

.recap-back-button {
  position: absolute;
  top: 0;
  left: 0.5em;
  font-size: 50px;
  cursor: pointer;
}

.recap-close-button {
  background: white;
  cursor: pointer;
  font-size: 50px;
  line-height: 1;
  padding: 0 0.1em;
  position: absolute;
  right: 0.5em;
  top: 0;
}

.recap-card-offer {
  ul {
    display: flex;
    height: 20vh;
    justify-content: space-evenly;
    padding: 0;
  }
  li {
    height: 100%;
    list-style-type: none;
  }
  img {
    display: block;
    height: 100%;
  }
}

.recap-card-offer-multiple {
  li {
    padding: 0 6%;

    p {
      width: 20em;
      margin: 1em auto;
    }
  }
  img {
    margin: auto;
  }
}

.recap-picked-card {
  > * {
    margin: auto;
  }
  img {
    width: 30vh;
  }
}

.recap-link {
  position: absolute;
  top: 50%;
  line-height: 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  &-left {
    left: 1rem;
  }

  &-right {
    right: 1rem;
  }

  &__icon {
    font-size: 2cm;
    padding-bottom: 0.2em;
  }
}

.recap-game svg.recap-game__minimap {
  height: 100%;
}

.recap-game {
  height: 100vh;
  overflow-y: auto;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) auto 1fr minmax(min-content, max-content);
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-template-areas:
    'h h h h h'
    'a1 g1 av g2 a2'
    'a1 c c c a2'
    'm m m m m'
    'f f f f f';

  h2 {
    grid-area: h;
    padding-top: 0.5em;
  }

  &__gate {
    height: 20vh;
    min-height: 4cm;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    dt:first-child {
      font-weight: bold;
    }

    * {
      margin-left: 0;
    }
  }

  &__birth-gate {
    grid-area: g1;
  }

  &__death-gate {
    grid-area: g2;
  }

  &__avatar {
    grid-area: av;
    height: 20vh;
    min-height: 4cm;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      grid-row: 1;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
      align-self: start;
      margin: auto;
    }

    p {
      grid-row: 2;
      margin: 0;
      align-self: end;
    }
  }

  &__cards {
    grid-area: c;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    height: calc(4em + 10px);
    display: flex;
    justify-content: space-evenly;

    span {
      display: inline-block;
      margin: auto;
      height: 100%;
      width: auto;
      overflow: hidden;

      &:hover {
        overflow: visible;
      }
    }

    img {
      height: 100%;
    }
  }

  &__card-binding {
    margin: auto 0 2em 0;

    &--down {
      grid-area: a1;
    }

    &--up {
      grid-area: a2;
    }
  }

  &__minimap {
    grid-area: m;
    min-height: 10cm;
    max-height: 100%;
    overflow: hidden;
    margin: auto;
    object-fit: contain;

    &__highlight {
      grid-area: m;
      position: absolute;
    }
  }

  &__footer {
    grid-area: f;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    // font-size: 3vh;
    width: 90%;

    a {
      margin: auto;
    }
  }
}

.recap-exegesis {
  font-style: italic;
}

.game-intro {
  font-size: calc(max(3vh, 0.35cm));

  button {
    font-size: 120%;
    padding: 0.5em 1em;
  }
}

a {
  cursor: pointer;
}

button {
  background: inherit;
  border: 2px solid gray;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 0 1px 1px gold;
  }
}

.card-detail {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
  width: calc(100% - 0.8cm);

  @media (orientation: portrait) {
    display: block;
  }

  &-buttons {
    margin: auto 0;
  }

  &-exegesis {
    padding: 0 2vw;
    font-size: calc(max(2vh, 0.35cm));
  }

  img {
    margin: auto 0;
    max-height: 100%;
    max-width: 100%;
  }
}

.debug-console {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  &-shown {
    display: block;
  }
}

#guide-root {
  @include overlay;

  display: none;
  overflow: auto;
}

#guide-switch {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 0.8cm;
  height: 2cm;
  border: 2px solid gray;
  border-right: 0 none;
  border-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px 0px purple;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: #FBF;
    }
  }

  .guide-switch--turn-off {
    display: none;
  }

  .guide-switch--turn-on {
    display: block;
  }
}

#guide-container.guide-on {
  #guide-root {
    display: block;
  }

  #guide-switch {
    .guide-switch--turn-off {
      display: block;
    }

    .guide-switch--turn-on {
      display: none;
    }
  }
}

#guide-container.guide-container--uninitialized {
  display: none;
}

.guide-page {
  display: grid;
  font-size: 4vh;
  justify-content: space-evenly;
  padding: 0.8cm;
}

.guide-page--avatar-choice {
  font-size: 2.5vh;

  img {
    width: 15vmin;
    height: 15vmin;
    vertical-align: middle;
    margin: 2vmin 4vmin 2vmin 0;
  }

  ul {
    text-align: left;
    list-style-type: none;
    padding: 0 0 0 19vmin;
    text-indent: -19vmin;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 20px 0px purple;
  }
  60% {
    box-shadow: 0 0 20px 0px purple;
  }
  80% {
    box-shadow: 0 0 25px 10px purple;
  }
  100% {
    box-shadow: 0 0 20px 0px purple;
  }
}

.guide-on #guide-root:has(.guide-page--avatar-choice) + #guide-switch {
  animation: pulse 7s infinite;
}

.cover-page {
  text-align: center;
  font-family: Arial;
  font-size: 7vw;
  background: transparent url('assets/cover1.jpg') no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;

  .cover-page__text {
    align-self: flex-end;
    padding-bottom: 5vh;
  }

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 68%;
    margin: auto 0 0;

    span {
      display: block;
      font-size: 38%;
    }
  }

  h2 {
    font-weight: normal;
    margin: 0;
  }

  .author {
    font-size: 28%;
  }

  .subtitle {
    color: #c6cbda;
    font-size: 42%;
  }

  .status-line {
    color: white;
    font-size: 20%;
    height: 2vh;
    margin-top: 1vh;
  }

  output {
    font-family: monospace;
  }
}

.offer-load-game {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
